
body {
    background-color: rgb(12, 12, 12);

}

* {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(37, 37, 37);
}

li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}
button {
    background-color: green;
    border: 3px;
    border-color: white;
    padding: 15px 32px;
    color: rgb(66, 37, 26);
    align-self: center;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 7px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

button.purchaser {
    background-color: gray;
    border: 5px;
    border-color: white;
    cursor: pointer;
    text-align: center;
    position: relative;
}

button.purchaser:hover .tooltiptext {
    visibility: visible;
}

button.prestigeFlames {
    background-color: red;
    color: rgb(53, 0, 0);
    cursor: pointer;
    text-align: center;
    position: relative;

}

h1 {
    text-align: center;
    -webkit-text-fill-color: white;
}

p.Counters {
    -webkit-text-fill-color: white;
   size: var(100);
    text-align: right;
    
}

p.PrestigeFlame {
    -webkit-text-fill-color: red;
    text-align: right;
}

div.Resource {
    height: auto;
    float: right;
    background-color: rgb(10, 10, 10);
    width: 200px;
    border-left:  4px solid white;
    height: 100vh;
}

div.Mainupgrades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.tabs {
    display: flex;
    float: left;
    width: 200px;
    height: 100vh;
}  

a.flame {
    color: red;

}
a.flame:hover {
    color: black;
    background-color: red;
}  

a.solar {
    color: yellow;
    visibility: hidden;
} 

a.solar:hover {
    color: black;
    background-color: yellow;
}